<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">  
    <properties>  
        <property name="LOG_HOME">logs</property>  
        <property name="FILE_NAME">sim-analysis</property>  
    </properties>  
    <Appenders>  
        <Console name="Console" target="SYSTEM_OUT">  
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />  
        </Console>  
        <RollingRandomAccessFile name="file"  
            fileName="${LOG_HOME}/${FILE_NAME}.log"
            filePattern="${LOG_HOME}/${FILE_NAME}-%i.log">  
            <PatternLayout  
                pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />  
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB" />  
            </Policies>  
            <DefaultRolloverStrategy max="20" />  
        </RollingRandomAccessFile>  
    </Appenders>  
  
    <Loggers>  
        <Logger name="com.cngc.simanalysis" level="debug" additivity="false">  
            <AppenderRef ref="file" />  
        </Logger>  
        <Root level="info">  
            <AppenderRef ref="Console" />  
        </Root>  
    </Loggers>  
</Configuration>