<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="sample/layout">
<head>
<title>sse页面</title>
<script src="../../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script src="../../static/js/eventsource.js"
	th:src="@{/js/eventsource.js}"></script>
<script type="text/javascript">
	$(function() {
		const eventSource = new EventSource("[[@{/sample/sse}]]");
		eventSource.onmessage = function(e) {
			debugger;
		}
		eventSource.onerror = function(e) {
			eventSource.close();
		}
	})
</script>
</head>
<body>
	<h1 layout:fragment="header">Samples : 查看所有</h1>
	<div layout:fragment="content" class="container">
		<div class="pull-right">
			<a href="form.html" th:href="@{/sample/form}">新增</a>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>主题</td>
				</tr>
			</thead>
			<tbody id="content">
				<tr th:each="sample : ${samples}">
					<td th:text="${sample.id}">1</td>
					<td><a href="view.html" th:href="@{'/sample/' + ${sample.id}}"
						th:text="${sample.title}"> 1 </a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
